.section {
  margin: auto 0 20px 0;
}
.overlay {
  width: calc(100% - 20px);
  top: 10px;
  height: calc(100% - 10px);
  left: 50%;
  transform: translateX(-50%);
}

.wrappIcon {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0 0 0;
  transform: rotate(180deg);
}
